/* the geometry of the page */
@page-width: 210mm;
@page-height: 297mm;

/* the size of the crop marks*/
@crop-size: 5mm;

/* the size of bleed */
@bleed: 5mm;

@page-margin-inside: 10mm;
@page-margin-outside: 10mm;
@page-margin-top: 10mm;
@page-margin-bottom: 10mm;

// Header & footer variables
@header-height: 10mm;
@header-text: "header";
@footer-height: 10mm;
@footer-text: counter(page-counter);
