body{
	/*background-color:yellow; */
	font-family: sans-serif;
	font-weight: bold;
}
#main{
	/*-moz-column-width:250px;*/
	/*-webkit-column-width:250px;*/
	column-count:3;
	column-gap:5px;
}
img{
	width: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15, .h16{
	margin:5px;
	padding:2px;
	display: block;
	border: 2px solid black;
}
.h1{
	/*padding-left: 0px;*/
	/*page-break-before: always;*/
	font-weight: bold;
	/*color:red;*/
}
/*.h2{
	padding-left: 20px;
}
.h3{
	padding-left: 40px;
}
.h4{
	padding-left: 60px;
}
.h5{
	padding-left: 80px;
}
.h6{
	padding-left: 100px;
}
.h7{
	padding-left: 120px;
}
.h8{
	padding-left: 140px;
}
.h9{
	padding-left: 160px;
}
.h10{
	padding-left: 180px;
}
.h11{
	padding-left: 200px;
}
.h12{
	padding-left: 220px;
}
.h13{
	padding-left: 240px;
}*/