body{
	font-family: 'font', sans-serif;
	font-size: 10pt;
	line-height: 14pt;
	color:rgba(0,100,250,1);
	padding:10px;
}
#main{
	width: 100%;
	column-count:2;
	/*-moz-column-count:2;*/
	padding:40px 0 0 0;
}
.source{
	padding: 20px 0px;
}
	.source:first-of-type{
		padding-top:0px;
	}
.high1{
	color:red;
}
small{
	font-size: 6pt;
	letter-spacing: 0.3pt;
	vertical-align: top;
}

.line{
	margin-left: 40px;
}

.linenumber{
	margin-left: -40px;
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10, .t11, .t12, .t13, .t14, .t15, .t16{

}
.t1{
	padding-left: 0px;
}
.t2{
	padding-left: 20px;
}
.t3{
	padding-left: 40px;
}
.t4{
	padding-left: 60px;
}
.t5{
	padding-left: 80px;
}
.t6{
	padding-left: 100px;
}
.t7{
	padding-left: 120px;
}
.t8{
	padding-left: 140px;
}
.t9{
	padding-left: 160px;
}
.t10{
	padding-left: 180px;
}
.t11{
	padding-left: 200px;
}
.t12{
	padding-left: 220px;
}
.t13{
	padding-left: 240px;
}

@font-face{
	font-family: 'font';
	src:url('../fonts/century_schoolbook_monospace_bt.ttf');
}