<style>
.box{
	border:20px solid;
	margin:10px;
	/*width: 10px;*/
	/*height: 10px;*/
}
.level_1{
    color:red;
}
.level_2{
    color:#0066ff;
}
.level_3{
    color:magenta;
}
.level_4{
    color:green;
}
.level_5{
    color:#9966ff;
}
.level_6{
    color:#cc9900;
}
.level_7{
    color:#009999;
}
.level_8{
    color:#999966;
}
</style>

<div class="box level_1 level_1">
<div class="box level_2">
<div class="box level_3">
<div class="box level_4">
<div class="box level_5">
<div class="box level_6">
<div class="box level_7">
<div class="box level_8">
	
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
