@font-face{
	font-family: 'font';
	/*src:url('/html2print/fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Regular.ttf');*/
	src:url('/html2print/fonts/LinLibertine_5.3.0_2012_07_02/LinLibertine_RZah.ttf.ttf');
}

#wrapper{
	font-family: 'font';
	font-size: 10pt;
	position: relative;
	width: 100%;
	-webkit-columns:3;
	-webkit-column-gap:0px;
}
img{
	width: 100%;
}
.box{
	margin:5px;
	padding:2px;
	display: block;
	/*border: 1px solid black;*/
}
.level_1{
	/*font-weight: bold;*/
	border:1px solid red;
	color:red;
}
.level_2{
	/*padding-left: 20px;*/
	border:1px solid blue;
	color:blue;
}
.level_3{
	border:1px solid green;
	color:green;
	/*padding-left: 40px;*/
}
.level_4{
	border:1px solid magenta;
	color:magenta;
	/*padding-left: 60px;*/
}
.level_5{
	/*padding-left: 80px;*/
}
.level_6{
	/*padding-left: 100px;*/
}
.level_7{
	/*padding-left: 120px;*/
}
.level_8{
	/*padding-left: 140px;*/
}
.level_9{
	/*padding-left: 160px;*/
}
.level_10{
	/*padding-left: 180px;*/
}
.level_11{
	/*padding-left: 200px;*/
}
.level_12{
	/*padding-left: 220px;*/
}
.level_13{
	/*padding-left: 240px;*/
}