@font-face{
	font-family: 'font';
	/*src:url('/html2print/fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Regular.ttf');*/
	src:url('/html2print/fonts/LinLibertine_5.3.0_2012_07_02/LinLibertine_RZah.ttf.ttf');
}

#wrapper{
	position: relative;
	width: calc(100% - 4mm);
	height: 100%;
	top:0px;
	left:0px;
	margin:0;
	padding:3mm 2mm;
	-webkit-columns:7;
	-webkit-column-gap:2mm;
	font-family: 'font', times;
	font-size: 5pt;
	line-height: 7pt;
	/*color:rgba(25,25,153,1);*/
	color:black;
	background-color: rgba(230,230,230,0.4);
}

.column{
	border-top:1px solid black;
	padding-top:3mm;
	padding-right:1mm;
	margin-top:3mm;
}
	.column:first-of-type{
		margin-top:0;
	}
.title{
	top:0px;
	left:0px;
	font-size: 8pt;
	font-family: courier;
	border-bottom:1px solid black;
	padding-bottom:3mm;
	margin-bottom:3mm;
}
	.title:after{
		content: ' (selection)';
	}


.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15, .h16{
	margin:0;
	padding:0;
	display: block;
}
.h1{
	padding: 0.5mm 0;
	font-size: 11pt;
	line-height: 11pt;
	font-weight: bold;
}
.h2{
	padding: 0 0 0.2mm 5mm;
	font-size: 11pt;
	line-height: 11pt;
	text-decoration: underline;
}
.h3{
	padding: 0 0 0.2mm 10mm;
	font-size: 10pt;
	line-height: 10pt;
}
.h4{
	padding: 0 0 0.2mm 15mm;
	font-size: 9pt;
	line-height: 9pt;
}
.h5{
	padding: 0 0 0.2mm 20mm;
	font-size: 8pt;
	line-height: 8pt;
}
.h6{
	padding: 0 0 0.2mm 25mm;
	font-size: 7pt;
	line-height: 7pt;
}
.h7{
	padding: 0 0 0.2mm 30mm;
	font-size: 6pt;
	line-height: 6pt;
}
.h8{
	padding: 0 0 0.2mm 35mm;
}
.h9{
	padding: 0 0 0.2mm 40mm;
}
.h10{
	padding: 0 0 0.2mm 45mm;
}
.h11{
	padding: 0 0 0.2mm 50mm;
}
.h12{
	padding: 0 0 0.2mm 55mm;
}
.h13{
	padding: 0 0 0.2mm 60mm;
}