body{
	/*background-color:yellow; */
	font-family: sans-serif;
}
#main{
	/*-moz-column-width:250px;*/
	/*-webkit-column-width:250px;*/
	column-count:5;
	column-gap:0px;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15, .h16{
	margin:0;
	padding:0;
	display: block;
	/*border-left: 1px solid black;*/
}
.h1{
	padding-left: 0px;
	/*page-break-before: always;*/
	font-weight: bold;
	/*color:red;*/
	line-height: 50px;
}
.h2{
	padding-left: 20px;
}
.h3{
	padding-left: 40px;
}
.h4{
	padding-left: 60px;
}
.h5{
	padding-left: 80px;
}
.h6{
	padding-left: 100px;
}
.h7{
	padding-left: 120px;
}
.h8{
	padding-left: 140px;
}
.h9{
	padding-left: 160px;
}
.h10{
	padding-left: 180px;
}
.h11{
	padding-left: 200px;
}
.h12{
	padding-left: 220px;
}
.h13{
	padding-left: 240px;
}