<div id="color-palette">
<div class="box level_1 level_1">
<div class="box level_2">
<div class="box level_3">
<div class="box level_4">
<div class="box level_5">
<div class="box level_6">
<div class="box level_7">
<div class="box level_8">
	
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
