
	<style type="text/css" media="all">
		html {
			background: white;
			font-size: 10pt;
			font-family:'sans-serif';
		}

		.column {
			width: calc(100% / 8 - 10px);
			float: left;
		}

		h1, p {
			hyphens: auto;
			-webkit-hyphens: auto;
		}
		h1{
			font-size:12pt;
			line-height:1;
		}

		.column + .column {
			margin-left: 10px;
		}

		p {
			opacity: .1;
		}

		.immaterial {
			opacity: 1;
		}

	</style>
<div class="column"><h1 lang="en-us">encyclopedie-updated</h1><p class="immaterial"  lang="en-us">understanding 
</p><p class="immaterial"  lang="en-us">memory: history 
</p><p class="immaterial"  lang="en-us">sacred (history of prophets) 
</p><p class="immaterial"  lang="en-us">ecclesiastical 
</p><p class="immaterial"  lang="en-us">Sunday 
</p><p class="immaterial"  lang="en-us">civil, ancient & modern 
</p><p class="immaterial"  lang="en-us">civil history, properly said, literary history 
</p><p class="immaterial"  lang="en-us">memories 
</p><p class="immaterial"  lang="en-us">antiquities 
</p><p class="immaterial"  lang="en-us">complete histories 
</p></div><div class="column"><h1 lang="en-us">cyclopaedia</h1></div><div class="column"><h1 lang="en-us">greatinventions</h1><p class="immaterial"  lang="en-us">Practical Use of Properties of Atomic Structures 
</p><p class="immaterial"  lang="en-us">Inventions Concerned with Agriculture 
</p></div><div class="column"><h1 lang="en-us">polyhistor-updated</h1></div><div class="column"><h1 lang="en-us">etymologiae</h1><p class="immaterial"  lang="en-us">noun 
</p><p class="immaterial"  lang="en-us">proper noun 
</p><p class="immaterial"  lang="en-us">praenomen 
</p><p class="immaterial"  lang="en-us">name 
</p><p class="immaterial"  lang="en-us">cognomen 
</p><p class="immaterial"  lang="en-us">agnomen 
</p><p class="immaterial"  lang="en-us">appellative noun 
</p><p class="immaterial"  lang="en-us">analogy 
</p><p class="immaterial"  lang="en-us">from quality 
</p><p class="immaterial"  lang="en-us">from comparative degree 
</p><p class="immaterial"  lang="en-us">from gender 
</p><p class="immaterial"  lang="en-us">from number 
</p><p class="immaterial"  lang="en-us">from form 
</p><p class="immaterial"  lang="en-us">from case 
</p><p class="immaterial"  lang="en-us">from endings 
</p><p class="immaterial"  lang="en-us">with similar syllables 
</p><p class="immaterial"  lang="en-us">from similarity of tenses 
</p><p class="immaterial"  lang="en-us">etymology 
</p><p class="immaterial"  lang="en-us">from rationale 
</p><p class="immaterial"  lang="en-us">from origin 
</p><p class="immaterial"  lang="en-us">from derivation 
</p><p class="immaterial"  lang="en-us">from sounds 
</p><p class="immaterial"  lang="en-us">from Greek with Latin declension 
</p><p class="immaterial"  lang="en-us">from names of places 
</p><p class="immaterial"  lang="en-us">from foreign languages 
</p><p class="immaterial"  lang="en-us">glosses 
</p><p class="immaterial"  lang="en-us">differentiation 
</p><p class="immaterial"  lang="en-us">faults 
</p><p class="immaterial"  lang="en-us">barbarism 
</p><p class="immaterial"  lang="en-us">solecism 
</p><p class="immaterial"  lang="en-us">acyrology 
</p><p class="immaterial"  lang="en-us">cacenphaton 
</p><p class="immaterial"  lang="en-us">metaplasm 
</p><p class="immaterial"  lang="en-us">schema 
</p><p class="immaterial"  lang="en-us">trope 
</p><p class="immaterial"  lang="en-us">metaphor 
</p><p class="immaterial"  lang="en-us">catachresis 
</p><p class="immaterial"  lang="en-us">metalepsis 
</p><p class="immaterial"  lang="en-us">metonymy 
</p><p class="immaterial"  lang="en-us">antonomasia 
</p><p class="immaterial"  lang="en-us">epithet 
</p><p class="immaterial"  lang="en-us">synecdoche 
</p><p class="immaterial"  lang="en-us">onomatopoeia 
</p><p class="immaterial"  lang="en-us">periphrasis 
</p><p class="immaterial"  lang="en-us">hyperbaton 
</p><p class="immaterial"  lang="en-us">hysteron proteron 
</p><p class="immaterial"  lang="en-us">parenthesis 
</p><p class="immaterial"  lang="en-us">tmesis 
</p><p class="immaterial"  lang="en-us">synthesis 
</p><p class="immaterial"  lang="en-us">hyperbole 
</p><p class="immaterial"  lang="en-us">allegory 
</p><p class="immaterial"  lang="en-us">irony 
</p><p class="immaterial"  lang="en-us">antiphrasis 
</p><p class="immaterial"  lang="en-us">riddle 
</p><p class="immaterial"  lang="en-us">charientismos 
</p><p class="immaterial"  lang="en-us">paroemia 
</p><p class="immaterial"  lang="en-us">sarcasm 
</p><p class="immaterial"  lang="en-us">astysmos 
</p><p class="immaterial"  lang="en-us">homoeosis 
</p></div><div class="column"><h1 lang="en-us">taric</h1></div><div class="column"><h1 lang="en-us">amazon</h1><p class="immaterial"  lang="en-us">Appliance Warranties 
</p></div>