/*********************************************/
/* HEADER */
/*********************************************/

.header.running {
	position:relative;
	width:100%;
	height:10mm;
	font-family: 'HT';
	font-size:20pt;
	line-height:0pt;
	color:red;
}
.header.running:after{
	content:"Species of Things";
	float:left;
	padding: 2mm 0 10mm 0mm;
}
.header.running:before{
	content: " " counter(page-counter);
	float:right;
	padding: 2mm 0mm 0 0;
}

/*********************************************/
/* MAIN */
/*********************************************/

.main{
	width:calc(9.08% - 0mm);
	height:calc(100% - 62mm);
	display:block;
	float:left;
	margin: 2mm 0 0 0;
}
	.main:before{
		position:relative;
		content:'↗';
		font-family: 'Didact';
		font-size:8pt;
		color:red;
		margin-top:464mm;
		margin-left:calc(50% - 2mm);
		float:left;
	}

.box{
	font-family: 'Didact';
	font-size: 7pt;
	line-height:8.2pt;
	margin:0.5mm;
	padding:0.5mm;
	display: block; 
	-webkit-hyphens:auto;
}
.level_1{
	border:1px solid;
	margin-right:2px;
	margin-left:2px;
}
.level_2{
	border:1px solid;
}
.level_3{
	border:1px solid;
}
.level_4{
	border:1px solid;
}
.level_5{
	border:1px solid;
}
.level_6{
	border:1px solid;
}
.level_7{
	border:1px solid;
}
.level_8{
	border:1px solid;
}

/*********************************************/
/* ESSAY */
/*********************************************/

.essay{
	height: 50mm;
	margin-top:475mm;
}
	.essay .column{
		max-height: 100%;
		display: block;
		float: left;
		width:calc(33.3% - 5mm);
		padding-right:5mm;
	}
	.essay .column:last-of-type{
		padding-right:0mm;
	}

#essay{
	font-family: 'HT';
	font-size: 10pt;	
	color:red;
}
h1{
	font-weight:normal;
	font-size: 100%;
	border-bottom: 1px solid;
	margin: 0 0 4.9mm 0;
	padding:0;
}
p{
	padding:0 0 5mm 0;
	margin:0;
}

/*********************************************/
/* ANNOTATIONS */
/*********************************************/

.title{
	font-family: 'Didact';
	font-size:10pt;
	line-height:12pt;
	color:white;
	background-color:red;
	padding:0.5mm;
	margin:0.5mm;
	width:calc(100% - 8px);
}
	.title:after{
		content:'↓';
		float:right;
		font-size:8pt;
	}
img.img-annotation{
	width: calc(100% - 4px);
	margin:0;
	padding:1mm 2px 0 2px;
}
.annotation_ts{
	display:block;
	clear:both;
	padding:1.5mm 1mm 1mm 1mm;
	font-family: 'HT';
	font-size: 14pt;
	line-height: 15.6pt;
}
.citation{
	display:block;
	clear:both;
	font-family:courier;
	font-size:7pt;
	line-height:8.0pt;
	letter-spacing:0.5pt;
	margin:0;
	padding:1.5mm 1mm 1mm 1mm;
}


/*********************************************/
/* FONTS */
/*********************************************/

@font-face {
	font-family: 'HT';
	src: url('/html2print/fonts/Helvetica-Textbook/helvetica-textbook-lt-roman-58af139b79a0d.ttf');
	font-weight: normal;
	font-style: regular;
}
@font-face {
	font-family: 'HT';
	src: url('/html2print/fonts/Helvetica-Textbook/helvetica-textbook-lt-bold-58af145145fb7.ttf');
	font-weight: bold;
	font-style: regular;
}

@font-face{
	font-family: 'font';
	/*src:url('/html2print/fonts/liberation-fonts-ttf-2.00.1/LiberationSans-Regular.ttf');*/
	src:url('/html2print/fonts/LinLibertine_5.3.0_2012_07_02/LinLibertine_RZah.ttf.ttf');
}
@font-face {
	font-family: 'Dauphine';
	font-weight: normal;
	font-style: regular;
	src: url('/html2print/fonts/Dauphine/Dauphine-Regular.otf');
}

@font-face {
	font-family: 'Dauphine';
	font-weight: normal;
	font-style: italic;
	src: url('/html2print/fonts/Dauphine/Dauphine-Italic.otf');
}

@font-face {
	font-family: 'Fantasque';
	font-weight: normal;
	font-style: regular;
	src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-Regular.otf');
}

@font-face {
	font-family: 'Fantasque';
	font-weight: normal;
	font-style: italic;
	src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-Italic.otf');
}

@font-face {
	font-family: 'Fantasque';
	font-weight: bold;
	font-style: regular;
	src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-Bold.otf');
}

@font-face {
	font-family: 'Fantasque';
	font-weight: bold;
	font-style: italic;
	src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-BoldItalic.otf');
}

@font-face {
	font-family: 'Didact';
	src: url('/html2print/fonts/didact/DidactGothic.ttf');
}
