.level_1{
    color:red;
}
.level_2{
    color:#0066ff;
}
.level_3{
    color:magenta;
}
.level_4{
    color:green;
}
.level_5{
    color:#9966ff;
}
.level_6{
    color:#cc9900;
}
.level_7{
    color:#009999;
}
.level_8{
    color:#999966;
}
