h1{
	font-weight:bold;
	font-size:9pt;
	margin-bottom: 12pt;
}

#introduction{
	font-family: 'HT';
    font-size:13pt;
    line-height:15pt;
    -webkit-region-break-after:always;
	letter-spacing:0.3pt;
}

#introduction li{
	break-inside:avoid;
}

/* FLOWS */
#title{
    width: 100%;
	font-size: 40pt;
	line-height: 40pt;
	margin: 38mm 0mm 0 -112mm;
	float: left;
	padding-bottom: 10mm;
	font-weight: bold;
	text-align: center;
	-webkit-hyphens: none;
}

.main.column{
	width:calc(50% - 10mm);
	height:calc(100% - 10mm);
	margin:5mm 10mm 0 0;
	padding:0;
	display:block;
	float:left;
}

.colophon{
    height:28mm;
    margin-top:120mm;
}

#colophon {
}

.methodology {
	font-size: 8pt;
	line-height:12pt;
}

.methodology p {
    display: block;
    margin-top: 12pt;
}

.label{
	position: absolute;
	/* -webkit-flow-from:label; */
	width: calc(105mm + 3mm);
	height: calc(148mm + 3mm);
	bottom: -3mm;
	left: -3mm;
	background-image: url("/html2print/chapters/img/label.jpg");
	background-size: cover;
	background-color: black;
}

/* items  */
.metadata-item{
	margin:12pt 0;
}
.metadata-item div{
	display:inline;
}
.tag{
	text-decoration:underline;
}
.metadata-item div:first-of-type{
    display:block;
    letter-spacing:0.2mm;
}
.tag.title{
	display:none;
}


@font-face {
    font-family: 'Didact';
    src: url('/html2print/fonts/didact/DidactGothic.ttf');
}
@font-face {
    font-family: 'Fantasque';
    font-weight: normal;
    font-style: regular;
    src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-Regular.otf');
}

@font-face {
    font-family: 'Fantasque';
    font-weight: normal;
    font-style: italic;
    src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-Italic.otf');
}

@font-face {
    font-family: 'Fantasque';
    font-weight: bold;
    font-style: regular;
    src: url('/html2print/fonts/Fantasque Sans Mono/FantasqueSansMono-Bold.otf');
}

#page-1 .main {
    position:absolute;
    bottom: 5mm;
    left: 115mm;
    width: 80mm;
    height: 280mm;
}

#page-2 .main {
    position: absolute;
    top: 20mm;
    right: 5mm;
    bottom: 5mm;
    width: 100mm;
}
