@import "../main.less";

/* the geometry of the page */
@page-width: 420mm;
@page-height: 578mm;

/* the size of the crop marks*/
@crop-size: 0mm;

/* the size of bleed */
@bleed: 0mm;

@page-margin-inside: 15mm;
@page-margin-outside: 15mm;
@page-margin-top: 26.5mm;
@page-margin-bottom: 26.5mm;

/* Header & footer variables */
@header-height: 0mm;
@header-text: "";
@footer-height: 0mm;
@footer-text: "";
 
/* required flows */
#stories article#boxes {
  -webkit-flow-into: main;
}
.main {
  -webkit-flow-from: main;
}
#stories article#essay {
  -webkit-flow-into: column;
}
.column {
  -webkit-flow-from: column;
}
.body .main{
  max-height: 100%;
}

.body{
	padding:0;
	margin: 0;
}
.footer{
	font-family:courier;
	width:100%;
	margin:8mm 0;
}
#pages{
	/*margin-left:15px;*/
}

@font-face {
	font-family: 'Didact';
	src: url('/html2print/fonts/didact/DidactGothic.ttf');
}