/* -------------------------------------------- VARIABLES ----------------------------------------- */
@font-size: 12pt;
@body-font: serif;
@line-height: 14.5pt;

/* -------------------------------------------- GENERIC CLASSES ----------------------------------------- */


body{
	line-height: @line-height;
}

h1,
h2 {
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

em {
    font-style: italic;
}